.create-account table tr.input.date-of-birth {
  width: 100%;
  max-width: 300px;

  td.label {
    width: auto;
    align-items: center;
    display: flex;

    label {
      width: auto;
    }

    .date-of-birth-tip {
      position: relative;
      margin-left: 5px;

      a {
        color: $primary;
      }

      .tip {
        position: absolute;
        left: 15px;
        top: -15px;
        width: 200px;
        max-width: 50vw;
        box-shadow: shadow("card");
        z-index: 1;
        background-color: $secondary;
        padding: 5px 8px;
      }
    }
  }

  td.inputs {
    width: 260px;
    justify-content: space-between;

    .select-kit {
      width: 70px !important;
      max-width: 70px !important;
      min-width: 70px !important;
      
      &.month {
        width: 100px !important;
        max-width: 100px !important;
        min-width: 100px !important;
      }
    }
  }
}
